<script type="text/javascript">
    const AppBridge = window['app-bridge'];
    const createApp = AppBridge.default;
    const Redirect = AppBridge.actions.Redirect;
    const app = createApp({
        apiKey: window.apiKey,
        shopOrigin: '{{ shop }}',
    });

    const normalizedLink = document.createElement('a');
    normalizedLink.href = '{{ redirect_uri }}';

    Redirect.create(app).dispatch(Redirect.Action.REMOTE, normalizedLink.href);

    window.appBridgeRedirect = appBridgeRedirect;
</script>